body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

.player {
    text-align: center;
}

.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.player-list {
    list-style: none;
    padding: 0;
    display: flex;
}

.player-list li {
    border: 1px solid;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

#tabuleiroJogador1 {
    align-self: flex-start;
}

#tabuleiroJogador2 {
    align-self: flex-end;
}
